[submodule "vendor/mo-git-blame"]
	path = vendor/mo-git-blame.git
	url = git://git.bunkus.org/mo-git-blame
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = git://github.com/samaaron/clojure-mode.git
[submodule "vendor/slime"]
	path = vendor/slime
	url = git://github.com/technomancy/slime.git
[submodule "vendor/anything-config"]
	path = vendor/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "vendor/undo-tree"]
	path = vendor/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "vendor/mk-project"]
	path = vendor/mk-project
	url = git://github.com/mattkeller/mk-project.git
[submodule "vendor/supercollider"]
	path = vendor/supercollider
	url = git://github.com/samaaron/scel.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "vendor/ibuffer-git"]
	path = vendor/ibuffer-git
	url = git://github.com/jrockway/ibuffer-git.git
[submodule "vendor/git-emacs"]
	path = vendor/git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "vendor/nxhtml"]
	path = vendor/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "vendor/emacs-rails"]
	path = vendor/emacs-rails
	url = git://github.com/remvee/emacs-rails.git
[submodule "vendor/rvm"]
	path = vendor/rvm
	url = git://github.com/senny/rvm.el.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
