[submodule "vendor/mo-git-blame.git"]
	path = vendor/mo-git-blame.git
	url = git://git.bunkus.org/mo-git-blame
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "vendor/slime"]
	path = vendor/slime
	url = git://git.boinkor.net/slime.git
[submodule "vendor/swank-clojure"]
	path = vendor/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "vendor/mo-git-blame"]
	path = vendor/mo-git-blame
	url = git://git.bunkus.org/mo-git-blame
[submodule "vendor/anything-config"]
	path = vendor/anything-config
	url = git://repo.or.cz/anything-config.git

[submodule "vendor/undo-tree"]
	path = vendor/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
